<%= render 'users/navbar' %>

<% if @archive_ads.empty? %>
  <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
    <div class = "pt-5">
      <div class ="bg-gray-800" style="border: 2px; margin: 100px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
        <h1 class="text-center font-bold">You have no ad to show!</h1>
      </div>
      <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" style="margin-left: 100px;" onclick="window.history.back();">Back</button>
    </div>
  </div>
<% else %>
  <br>
    <div class="grid grid-cols-2 gap-4">
      <% counter = 1 %>
      <% @archive_ads.each do |ad| %>
        <div class="border p-4 rounded-lg">
          <h4 class="font-bold mb-2"><%="Ad-#{counter}."%></h4>
          <% ad.ad_images.each do |image| %>
            <%= image_tag image, class: "w-28 h-20 object-cover rounded-lg shadow-md"%>
          <% end %>
          <br>
          <% product = Product.find_by(id: ad.product_id) %>
          <% address = Address.find_by(id: ad.address_id) %>

          <span class="font-bold">Name:</span>:</span> <%= product.name %> <br>
          <span class="font-bold">Price:</span> <%= ad.price %> <br>

          <span class="font-bold">Address:</span> <%= "#{address.street1} #{address.street2}, #{address.city}, #{address.zip_code}" %>

          <div class="flex space-x-4">
            <%= link_to "View Ad", ad, class: "mt-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" %>

            <%= button_to "publish", publish_ad_path(ad), method: :post, class: "mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out" %>

            <%= button_to "delete ad", ad, method: :delete, class: "mt-2 bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out" %>

          </div>

        </div>
        <% counter += 1 %>
        <% if counter % 2 == 1 %>
          </div><div class="grid grid-cols-2 gap-4">
        <% end %>
      <% end %>
    </div>

    <br>

    <% if current_user.seller? %>
      <%= link_to "Home", seller_home_path, class: "mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out", style: "margin-left: 20px;"%>
    <% end %>
  <!-- <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" style="margin-left: 10px;" onclick="window.history.back();">Back</button> -->


    <% end %>



