
<% if @archive_ads.empty? %>
  <%= render partial: 'shared/data_not_found', locals: { message: 'No Archive Ad Found!' } %>
<% else %>

<div class="grid grid-cols-2 gap-4 m-5">
  <% page = params[:page].to_i==1 || params[:page].to_i == 0? 0 : params[:page].to_i-1 %>
  <% counter = (page * @archive_ads.limit_value) + 1 %>
  <% @archive_ads.each do |ad| %>
    <div class="border p-4 rounded-lg flex w-full">
      <div class="w-1/2">
        <div>
          <h4 class="font-bold mb-2"><%="Ad - #{sprintf('%02d', counter)}"%></h4>
          <span class="font-semibold"> <%= ad.product.name %> <br>
          <span class="font-semibold">Price:</span> <%= ad.price %> <br>
        </div>
        <br>
        <div class="flex space-x-4">
          <% if can? :show, Ad %>
          <%= link_to "View", ad, class: "mt-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" %>
        <% end %>
        <% if can? :toggle_status, Ad %>
          <%= button_to "Publish", toggle_status_ad_path(ad), data: { confirm: "Are you sure to unpublish ad?"}, method: :post, class: "mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out" %>
        <% end %>
        <% if can? :destroy, Ad %>
          <%= button_to "Delete", ad, data: { confirm: "Are you sure to delete ad?", turbo_confirm: "Are you sure to delete ad?" }, method: :delete, class: "mt-2 bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out" %>
        <% end %>
        </div>
      </div>
      <div class="flex justify-center w-1/2">
        <div class="flex flex-col justify-center">
        <% if ad.ad_images.attached? %>
          <% ad.ad_images.each do |image| %>
            <%= image_tag image, class: "w-32 h-28 object-cover rounded-lg shadow-md"%>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
    <% counter = counter + 1%>
  <% end %>
</div>
<br>

<div class = "pb-20 flex flex-row items-center justify-center">
  <%= will_paginate @archive_ads, class:"bg-gray-300 rounded py-3 px-5"%>
</div>

<% end %>
