
<% flag = true %>
<% if @ads.empty? %>
  <% flag = false %>
<% elsif %>
  <% unless @ads.find_by(status: true) %>
    <% flag = false%>
  <%end%>
<% end %>

<% if !flag %>
  <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
    <%= render 'devise/shared/navbar'%>
    <div class = "pt-5">
      <div class ="bg-gray-800" style="border: 2px; margin: 100px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
        <h1 class="text-center font-bold">You have no ad to show!</h1>
      </div>
      <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" style="margin-left: 100px;" onclick="window.history.back();">Back</button>
    </div>
  </div>
<% else %>
  <%= render 'devise/shared/navbar'%>
  <br>
    <div class="grid grid-cols-2 gap-4">
      <% counter = 1 %>
      <% @ads.each do |ad| %>
        <div class="border p-4 rounded-lg">
          <h4 class="font-bold mb-2"><%="Ad-#{counter}."%></h4>

          <div class=" flex flex-row" >

            <div class="pl-7 py-6">
              <% product = Product.find_by(id: ad.product_id) %>

              <span class="font-bold">Name:</span>:</span> <%= product.name %> <br>
              <span class="font-bold">Price:</span> <%= ad.price %> <br>
              </div>
            <div class="pl-10">
          <% ad.ad_images.each do |image| %>
            <%= image_tag image, class: "w-28 h-20 object-cover rounded-lg shadow-md"%>
          <% end %>
          <br>
            </div>



          </div>

          <div class="flex space-x-4">
            <% if can? :show, ad %>
              <%= link_to "View", ad, class: "mt-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" %>
            <% end %>
            <% if can? :unpublish, ad %>
              <%= button_to "Unpublish", unpublish_ad_path(ad), data: { confirm: "Are you sure to unpublish ad?"}, method: :post, class: "mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out" %>
            <% end %>
            <% if can? :destroy, Ad %>
              <%= button_to "Delete", ad, data: { confirm: "Are you sure to delete ad?"}, method: :delete, class: "mt-2 bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out" %>
            <% end %>
          </div>
        </div>
        <% counter += 1 %>
        <% if counter % 2 == 1 %>
          </div><div class="grid grid-cols-2 gap-4">
        <% end %>
      <% end %>
    </div>
    <br>
  <div class = "pb-20 flex flex-row items-center justify-center">
      <%= will_paginate @ads, class:"bg-gray-300 rounded py-3 px-5"%>
  </div>
<% end %>




