


<%= form_with(model: @ad, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :price %> <br>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %> <br>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ad_images %> <br>
    <%= form.file_field :ad_images, multiple: true, direct_upload: true %>
  </div>

  <br>

  <!-- Here we will add address -->
  <%if @addresses == nil || @addresses.empty? %>
    <div>
     <h2>No address available</h2>
     <h2>First Add your address then add product</h2>
     <br>
     <%= link_to "Add Address", new_address_path%>
    </div>
  <%else%>
    <div class="form-group">
      <%= form.label :address_id, "Select Address" %> <br>
      <% address_hash = Hash.new%>
      <% @addresses.each {|a| address_hash["#{a.street1} #{a.street2}, #{a.city},#{a.zip_code}, #{a.state}"] = a.id} %>
      <%= form.select :address_id, options_for_select(address_hash)%>
      <br>
      <%= link_to "Add new Address", new_address_path%>
    </div>
  <%end%>


  <br>

  <div class="actions">
    <%= form.submit "Update Ad", class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<div>
    <%= link_to "View Ad", @ad%>
</div>
<div>
    <%= link_to "Back to Products", products_path%>
</div>

  <div>
    <%= link_to "Back to Home", seller_home_path%>
  </div>

