<%= render 'devise/shared/navbar'%>

<% flag = true %>

<% if @ads.nil? || @ads.empty? %>
  <% flag = false %>
<% end %>


<% if !flag %>
  <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
  <%= render 'devise/shared/back'%>
    <div class = "pt-5">
      <div class ="bg-gray-800" style="border: 2px; margin: 100px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
        <h1 class="text-center font-bold">No Ad Found!</h1>
      </div>
    </div>
  </div>
<% else %>
  <div class="grid grid-cols-2 gap-4">
    <% counter = 1 %>
    <% @ads.each do |ad| %>
      <div class="border p-4 rounded-lg">
        <h4 class="font-bold mb-2"><%="Ad-#{counter}."%></h4>
        <% ad.ad_images.each do |image| %>
          <%= image_tag image, class: "w-28 h-20 object-cover rounded-lg shadow-md"%>
        <% end %>
        <br>
        <span class="font-bold">Seller ID:</span> <%= ad.user_id %> <br>
        <span class="font-bold">Price:</span> <%= ad.price %> <br>
        <span class="font-bold">Description:</span> <%= ad.description %> <br>
        <div class="flex space-x-4">
          <% if can? :show, Ad %>
            <%= link_to "View Ad", ad, class: "mt-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" %>
          <% end %>
          <% if can? :unpublish, ad %>
            <%= button_to "Unpublish", unpublish_ad_path(ad), data: { confirm: "Are you sure to unpublish ad?"}, method: :post, class: "mt-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition duration-300 ease-in-out" %>
          <% end %>
          <% if can? :destroy, ad %>
            <%= button_to "Delete", ad, data: { confirm: "Are you sure to delete ad?", turbo_confirm: "Are you sure to delete ad?" }, method: :delete, class: "mt-2 bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out" %>
          <% end %>
        </div>
      </div>
      <% counter += 1 %>
      <% if counter % 2 == 1 %>
        </div><div class="grid grid-cols-2 gap-4">
      <% end %>
    <% end %>
  </div>
  <br>
  <div class = "pb-20 flex flex-row items-center justify-center">
      <%= will_paginate @ads, class:"bg-gray-300 rounded py-3 px-5"%>
  </div>
<% end %>

