<% if @ads.empty? %>
  <%= render partial: 'shared/data_not_found', locals: { message: 'No Ad Found!' } %>
<% else %>
  <div class="grid lg:grid-cols-2 gap-4 m-5">
    <% @ads.each.with_index(@ads.offset + 1) do |ad, counter| %>
      <div class="border p-4 rounded-lg flex w-full">
        <div class="w-1/2">
          <div>
            <h4 class="font-bold mb-2"><%= "Ad - #{counter}" %></h4>
            <span class="font-semibold"><%= ad.product.name %> </span>
            <br>
            <span class="font-semibold">Price:</span> <%= number_to_currency(ad.price, unit: "Rs", format: "%u. %n") %>
          </div>
          <br>
          <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-2">
            <% if can? :show, Ad %>
              <div>
                <%= link_to "View", ad, class: "mt-2 bg-blue-500 text-white px-8 sm:px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out" %>
              </div>
            <% end %>
            <% if can? :toggle_archived, Ad %>
              <div>
                <%= link_to ad.archived ? "Publish" : "Unpublish", toggle_archived_ad_path(ad), data: { confirm: "Are you sure to #{ad.archived ? "publish" : "unpublish"} ad?" }, method: :post, class: "mt-2 bg-gray-500 text-white px-3 py-2 rounded-md hover:bg-gray-600 transition duration-300 ease-in-out" %>
              </div>
            <% end %>
            <% if can? :destroy, Ad %>
              <div>
                <%= link_to "Delete", ad, data: { confirm: "Are you sure to delete ad?" }, method: :delete, class: "mt-2 bg-red-500 text-white px-7 sm:px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="flex justify-center w-1/2">
          <div class="flex flex-col justify-center">
            <% if ad.ad_images.attached? %>
              <% ad.ad_images.each do |image| %>
                <%= image_tag image, class: "w-32 h-28 object-cover rounded-lg shadow-md" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="pb-20 flex flex-row items-center justify-center">
    <%= will_paginate @ads, class: "bg-gray-300 rounded py-3 px-5" %>
  </div>
<% end %>
