

<div class="flex flex-row">
  <% if controller_name != 'sessions' %>
    <div class="mt-6">
      <p> Already have an account </p>
    </div>
    <div class="mx-5">
      <%= link_to "Sign In", new_session_path(resource_name), class: "block mx-auto my-4 py-2 px-4 bg-green-500 font-semibold rounded-lg shadow-md text-white hover:bg-green-600" %><br>
    </div>
  <% end %>
</div>

<div class="flex flex-row">
  <div class="mt-6">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: " mx-auto my-4 py-2 px-4 font-semibold text-white" %><br />
    <% end %>
  </div>
  <div>
    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(resource_name), class: "block mx-auto my-4 py-2 px-4 bg-green-500 font-semibold rounded-lg shadow-md text-white hover:bg-green-600" %><br />
    <% end %>
  </div>
</div>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>
