
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main Dashboard</span>

          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-12 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-12 w-12" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <%= image_tag('logo.png', class: "bg-no-repeat rounded-lg block h-12 w-12 w-auto") %>
          <% end %>
        </div>

        <% if user_signed_in? %>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%if current_user.admin?%>
              <%= link_to "Dashboard", admin_dashboard_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg"%>
            <%elsif current_user.seller?%>
              <%= link_to "Dashboard", seller_home_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg"%>
            <%elsif current_user.buyer?%>
              <%= link_to "Home", buyer_home_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg"%>
            <%end%>
          </div>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%if current_user.admin? || current_user.seller?%>
              <%= link_to "Products", products_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg"%>
            <%end%>
          </div>
        </div>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= link_to "Orders", orders_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg"%>
          </div>
        </div>
        <% if current_user.buyer? %>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <%= link_to "Bids", bids_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg"%>
            </div>
          </div>
        <% end %>

      <%elsif%>
      <div class="hidden sm:ml-6 sm:block">
        <div class="flex space-x-4">
          <!-- <span class="text-white">Online Marketplace for Selling Scrape</span> -->
        </div>
      </div>

      <%end%>

      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <% if user_signed_in? %>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
            <%= link_to "Sign Out", destroy_user_session_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg" %>
        </div>

        <div class="relative ml-3">
            <%= link_to "Profile", edit_user_registration_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg" %>
        </div>

        <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <span class="sr-only text-white">View notifications</span>
          <%# <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg> %>
         
          <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16"> <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/> </svg> %>
  
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
   
</svg>

        </button>

        <%elsif%>
        <div class="relative ml-3">
          <%= link_to "Sign In", new_user_session_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg" %>
        </div>
        <div class="relative ml-3">
          <span class="text-white">|</span>
        </div>
        <div class="relative ml-3">
          <%= link_to "Sign Up", new_user_registration_path, class: "py-2 px-4 bg- hover:bg-gray-600 text-white rounded-lg" %>
        </div>
        <%end%>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
    </div>
  </div>
</nav>
