<%= render "users/navbar"%>


<div>
    <H2>Seller Dashboard</H2>
</div>
<div>
    <%=link_to "Show Products", products_path %>
</div>

<div>
    <%= link_to "Your Addresses", addresses_path %>

</div>
<div>
    <%= link_to "View Your ads", seller_ads_path %>
</div>
<div>
    <%= link_to "Your Addresses", addresses_path %>
</div>
<div>
    <%= link_to "View Your ads", seller_ads_path %>
</div>
<div>
    <%=link_to "Sign Out", destroy_user_session_path%>
</div>