<div class="bg-no-repeat h-screen bg-background_img">
  <div class = "flex flex-col justify-center">
		<div class="justify-center mt-32">
      <div class="flex lg:flex-row md:flex-col sm:flex-col justify-center rounded-lg bg-gray-800 text-white bg-opacity-90 p-10">
				<div class="w-full h-60 bg-black rounded-lg shadow-lg p-6 pr-16 mx-5">
          <h2 class="text-xl font-semibold mb-4">PRODUCTS</h2>
          <hr> <br>
          <% if can? :index, Product%>
            <%= link_to "View Products", products_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
					<br>
					<% if can? :archives, Product %>
						<%= link_to "View Archive Products", archives_products_path, class: "text-blue-500 hover:text-blue-700" %>
					<% end %>
					<br>
					<% if can? :new, Product %>
						<%= link_to "Add New Product", new_product_path, class: "text-blue-500 hover:text-blue-700" %>
					<% end %>
        </div>
				<div class="w-full h-60 bg-black rounded-lg shadow-lg p-6 pr-16 mx-5">
          <h2 class="text-xl font-semibold mb-4">ADS</h2>
          <hr>
          <br>
					<% if can? :index, Ad %>
            <%= link_to "View All Ads", ads_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
					<br>
					<% if can? :archives, Ad %>
            <%= link_to "View Archive Ads", archives_ads_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
        </div>
				<div class="w-full h-60 bg-black rounded-lg shadow-lg p-6 pr-16 mx-5">
          <h2 class="text-xl font-semibold mb-4">ORDERS</h2>
          <hr>
          <br>
					<% if can? :index, Order %>
           	<%= link_to "View All Orders", orders_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
					<br>
					<% if can? :show_pending, Order %>
           	<%= link_to "View Pending Orders", show_pending_orders_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
          <br>
					<% if can? :show_successful, Order %>
           	<%= link_to "View Successful Orders", show_successful_orders_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
          <br>
					<% if can? :show_cancelled, Order %>
           	<%= link_to "View Cancelled Orders", show_cancelled_orders_path, class: "text-blue-500 hover:text-blue-700" %>
          <% end %>
				</div>
				<% if current_user.seller? %>
					<div class="w-full h-60 bg-black rounded-lg shadow-lg p-6 pr-16 mx-5">
            <h2 class="text-xl font-semibold mb-4">ADDRESSES</h2>
            <hr> <br>
						<% if can? :index, Address %>
             	<%= link_to "View Your Addresses", addresses_path, class: "text-blue-500 hover:text-blue-700" %>
            <% end %>
            <br>
						<% if can? :new, Address %>
              <%= link_to "Add new Address",   new_address_path, class: "text-blue-500 hover:text-blue-700" %>
           	<% end %>
        	</div>
				<% end %>
    	</div>
		</div>
	</div>
</div>
