<%# 
<h1>Enter your OTP</h1> %>
<main class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white  ">
    <section class="flex w-[30rem] flex-col space-y-10">
        <div class="text-center text-4xl font-medium">OTP</div>

<%= form_tag otp_path, method: :post do %>
  <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>

  
<br>
  <div class="form-group">
    <%= label_tag :otp, 'One-time password' %>
    <%= text_field_tag :otp, nil, class: 'form-control text-black', required: true %>
  </div>
<br>

<%= submit_tag 'Submit', class: 'button bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded' %>

  <%# <%= submit_tag 'Submit', class: 'btn btn-primary' %> 
  
<% end %>

   


