<%= render 'devise/shared/back' %>
<div class="m-10">
  <div class="flex flex-row items-center justify-center mt-10">
    <h3 class="font-bold <%= order_status_css(@order.status) %> ml-1"> <%= "Order #{@order.status.capitalize}!" %> </h3>
  </div>
</div>
<div class="flex flex-col lg:flex-row items-center justify-center">
  <div class="flex flex-col items-start space-y-12 mx-10">
    <h4 class="font-semibold text-lg">Order Amount:</h4>
    <p class="text-gray-700 mb-6"><%= "Rs. #{@order.bid.price}" %></p>
    <% unless current_user.buyer? %>
      <h4 class="font-semibold text-lg">Buyer Name:</h4>
      <p class="text-gray-700 mb-6"><%= @order.bid.user.full_name %></p>
    <% end %>
    <% unless current_user.seller? %>
      <h4 class="font-semibold text-lg">Seller Name:</h4>
      <p class="text-gray-700 mb-6"><%= @order.bid.ad.user.full_name %></p>
    <% end %>
    <h4 class="font-semibold text-lg">Pickup Date & Time:</h4>
    <p class="text-gray-700 mb-6"><%= @order.pickup_time.strftime('%d %B %Y | %I:%M:%S %p') %></p>
  </div>
  <div class="mx-10 sm:mt-10 mt-10 md-mt-0">
    <h4 class="font-semibold text-lg">Address:</h4>
    <% address = @order.bid.ad.address %>
    <p class="text-gray-700 mb-10"><%= [address.street1, address.street2, address.city, address.state, address.zip_code].reject(&:nil?).reject(&:empty?).join(', ') %></p>
    <div id = "map" class="w-80 h-80" ></div>
    <div id = "data" data-lat = <%= address.latitude %> data-lon = <%= address.longitude %>>
    </div>
  </div>
</div>
<div class="flex flex-row items-center justify-center mt-10 mb-2">
  <% if @order.pending? %>
    <% if can? :confirm, Order %>
      <div class="mx-1">
        <%= button_to "Complete", confirm_order_path(@order), data: { confirm: "Are you sure to complete order?"},  class: "bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition duration-300 ease-in-out" %>
      </div>
    <% end %>
    <% if can? :cancel, Order %>
      <div>
        <%= button_to "Cancel", cancel_order_path(@order), data: { confirm: "Are you sure to cancel order?"},  class: "bg-red-500 text-white px-8 py-2 rounded-lg shadow-md hover:bg-red-600 transition duration-300 ease-in-out" %>
      </div>
    <% end %>
  <% end %>
  <% if can? :new, Message %>
    <%= link_to "Message", new_message_path(order_id: @order.id), class: "bg-green-500 text-white px-6 py-2  ml-1 rounded-lg shadow-md hover:bg-green-600 transition duration-300 ease-in-out" %>
  <% end %>
</div>
