
<%if @orders.nil? || @orders.empty? %>
    <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
    <%= render 'devise/shared/back' %>
    <div class = "pt-32">
      <div class ="bg-gray-800" style="border: 2px; margin: 100px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
        <h1 class="text-center font-bold">No order cencelled yet!</h1>
      </div>
    </div>
  </div>
<% else %>
  <div class="grid gap-4 grid-cols-2 mx-4 my-2 mt-6">
    <% @orders.each do |order| %>
      <div class="col-span-1 flex justify-between items-center p-4 border rounded-md shadow-md">
        <div>
          <%unless current_user.buyer?%>
              <p class="text-lg font-bold">Buyer Name: <span class="text-gray-600"><%= "#{order.bid.user.first_name } #{order.bid.user.last_name }" %> </span></p>
          <%end%>
          <%unless current_user.seller?%>
              <p class="text-lg font-bold">Seller Name: <span class="text-gray-600"><%= "#{order.bid.ad.user.first_name} #{order.bid.ad.user.last_name}" %> </span></p>
          <%end%>
          <p class="text-lg font-bold">Order Price: <span class="text-gray-600"><%= "Rs. #{order.bid.price}" %></span> </p>
        </div>
        <div class="flex justify-between flex-row items-center">
          <%if order.status=="pending"%>
            <h3 class="font-bold px-10 py-6 mx-2 text-blue-600"> Order Pending</h3>
          <%elsif order.status=="successful"%>
            <h3 class="font-bold px-10 py-6 mx-2 text-green-600"> Order Successful</h3>
          <%elsif order.status=="cancelled"%>
            <h3 class="font-bold px-10 py-6 mx-2 text-red-600"> Order Cancelled</h3>
          <%end%>
          <% if can? :show, Order %>
            <%= link_to "View", order_path(order), class: "px-4 py-2 font-bold bg-blue-500 text-white rounded-lg hover:bg-blue-600" %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class = "pb-20 flex flex-row items-center justify-center">
    <%= will_paginate @orders, class:"bg-gray-300 rounded py-3 px-5"%>
  </div>
<%end%>
