<%= javascript_pack_tag "map" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCUYcTprnzLrOyLAjh57Hjdgk9m8BblZxI&libraries=places&callback=initMap", defer: true %>
<div class="bg-cover h-full bg-background_img">
  <div class="pt-5 mx-12 flex justify-center items-center">
    <div class="p-5 flex flex-col items-center justify-center mx-12 px-5 my-10 w-full h-4/5 max-w-sm bg-white border border-black-200 rounded-lg shadow sm:p-30 md:p-30 border-transparent">
      <div class="flex flex-col items-center justify-between space-y-5">
        <h3 class="font-bold"><%= @address.new_record? ? "New Address" : "Edit Address" %></h3>
        <%= form_with(model: [@user, @address], local: true) do |form| %>
          <div class="card bg-white p-4 rounded-lg shadow-md">
            <div class="form-group mb-4">
              <%= form.label :full_address, class: "font-bold mb-2 block" %>
              <%= form.text_field :full_address, id: "address_full_address", class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
            </div>
            <div class="form-group mb-4">
              <%= form.label :city, class: "font-bold mb-2 block" %>
              <%= form.text_field :city, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
            </div>
            <div class="form-group mb-4">
              <%= form.label :state, class: "font-bold mb-2 block" %>
              <%= form.text_field :state, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
            </div>
            <div class="form-group mb-4">
              <%= form.label :zip_code, class: "font-bold mb-2 block" %>
              <%= form.text_field :zip_code, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
            </div>
            <%= form.hidden_field :latitude, id: "latitude" %>
            <%= form.hidden_field :longitude, id: "longitude" %>
            <div class="flex-col my-2">
              <input id="pac-input" class="controls w-full" type="text" placeholder="Search your location">
            </div>
            <div id="map" class="w-80 h-80"></div>
            <div class="actions flex items-center flex-row justify-center">
              <%= form.submit "Submit", class: "mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
