<% if @addresses.empty? %>
  <%= render 'devise/shared/back'%>
  <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
    <div class = "pt-28">
      <div class ="bg-gray-800" style="border: 2px; margin-top: 100px; margin-right: 100px; margin-left: 100px; margin-bottom: 50px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
        <h1 class="text-center font-bold">You added no Address Yet!</h1>
      </div>
      <div class="flex flex-row justify-center">
        <% if can? :new, Address%>
        <div>
          <%= link_to "Add Address", new_address_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-md focus:outline-none focus:shadow-outline" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
<% else %>
  <% if can? :new, Address %>
    <div class="flex justify-end mb-1 mt-2 mr-2">
      <%= link_to "Add Address", new_address_path, class: " text-blue-600 hover:font-semibold mt-2 mb-2 px-4 rounded"%>
    </div>
  <%end%>
  <div class="py-5">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-200 text-gray-800 text-left font-bold">
          <th class="px-4 py-2">Street 1</th>
          <th class="px-4 py-2">Street 2</th>
          <th class="px-4 py-2">City</th>
          <th class="px-4 py-2">State</th>
          <th class="px-4 py-2">Zip Code</th>
          <th class="px-4 py-2" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
            <td class="px-4 py-2"><%= address.street1 %></td>
            <td class="px-4 py-2"><%= address.street2 %></td>
            <td class="px-4 py-2"><%= address.city %></td>
            <td class="px-4 py-2"><%= address.state %></td>
            <td class="px-4 py-2"><%= address.zip_code %></td>
            <% if can? :edit, Address%>
              <td class="px-4 py-2"><%= link_to "Edit", edit_address_path(address), class: "bg-green-500 hover:bg-green-700 text-white py-2 px-3 rounded" %></td>
            <% end %>
            <% if can? :destroy, Address%>
              <td class="px-4 py-2"><%= button_to "Delete", address, data: { confirm: "Are you sure to delete address?", turbo_confirm: "Are you sure to delete address?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white  py-2 px-3 rounded" %></td>
            <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class = "pb-10 flex flex-row items-center justify-center">
      <%= will_paginate @adresses, class:"bg-gray-300 rounded py-3 px-5" %>
  </div>
<% end %>
