<% if @addresses.empty? %>
  <%= render "devise/shared/back" %>
  <div class="bg-cover bg-no-repeat h-screen bg-background_img">
    <div class="pt-28">
      <div class="bg-gray-800 mt-28 mx-24 mb-5 p-10 rounded-md text-white bg-opacity-95">
        <h1 class="text-center font-bold">You added no Address Yet!</h1>
      </div>
      <% if can? :new, Address %>
        <div class="flex flex-row justify-center">
          <%= link_to "Add Address", new_address_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-md focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <% if can? :new, Address %>
    <div class="flex justify-end mt-6 sm:mt-2 mr-2">
      <%= link_to "Add Address", new_address_path, class: "text-blue-600 hover:font-semibold mt-2 px-4 rounded" %>
    </div>
  <% end %>
  <div class="py-5">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-300 text-gray-800 text-left font-bold">
          <th class="px-4 py-3">No.</th>
          <th class="px-4 py-3">Full Address</th>
          <th class="px-4 py-3">City</th>
          <th class="px-4 py-3">State</th>
          <th class="px-4 py-3" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each.with_index(@addresses.offset + 1) do |address, counter| %>
          <tr class="shadow-md">
            <td class="px-4 py-3"><%= counter %></td>
            <td class="px-4 py-2"><%= address.full_address %></td>
            <td class="px-4 py-2"><%= address.city %></td>
            <td class="px-4 py-2"><%= address.state %></td>
            <% if can? :edit, Address %>
              <td class="px-4 py-2"><%= link_to "Edit", edit_address_path(address), class: "bg-green-500 hover:bg-green-700 text-white py-2 px-3 rounded" %></td>
            <% end %>
            <% if can? :destroy, Address %>
              <td class="px-4 py-2"><%= link_to "Delete", address, data: { confirm: "Are you sure to delete address?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white py-2 px-3 rounded" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pb-10 flex flex-col items-center justify-center">
    <%= will_paginate @adresses, class: "bg-gray-300 rounded py-3 px-5" %>
  </div>
<% end %>
