<%=render 'users/navbar' %>

<div class="bg-cover  h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">

  <div class = "pt-5 mx-12" style="display: flex; justify-content: center; align-items: center;">
  <div class="p-5 flex flex-col items-center justify-center mx-12 px-5 my-10 w-full h-4/5 max-w-sm bg-white border border-black-200 rounded-lg shadow sm:p-30 md:p-30 dark:bg-gray-800 border-transparent">
    <div class="flex flex-col items-center justify-between space-y-5 ">
      <h3 class="font-bold">Add new Address</h3>

      <%= form_with(model: @address, local: true) do |form| %>
        <div class="field ">
          <div class="card bg-white p-4 rounded-lg shadow-md">

          <div class="form-group mb-4">
            <%= form.label :street1, class: "font-bold mb-2 block" %>
            <%= form.text_field :street1, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :street2, class: "font-bold mb-2 block" %>
            <%= form.text_field :street2, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :city, class: "font-bold mb-2 block" %>
            <%= form.text_field :city, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :state, class: "font-bold mb-2 block" %>
            <%= form.text_field :state, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :zip_code, class: "font-bold mb-2 block" %>
            <%= form.text_field :zip_code, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :latitude, class: "font-bold mb-2 block" %>
            <%= form.text_field :latitude, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :longitude, class: "font-bold mb-2 block" %>
            <%= form.text_field :longitude, class: "form-control w-full py-2 px-3 text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
          </div>

          <div class="actions">
            <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
          </div>
      <% end %>
      <div class="my-4">
        <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" onclick="window.history.back();">Back</button>
      </div>
    </div>
  </div>
</div>
