
<%if @archive_products.empty? %>
  <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
    <%= render 'users/navbar'%>
    <div class = "pt-5">
      <div class ="bg-gray-800" style="border: 2px; margin: 100px; padding: 40px; border-radius: 10px; color: white; opacity: 0.95;">
        <h1 class="text-center font-bold">No Product is Archived!</h1>
      </div>
      <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" style="margin-left: 100px;" onclick="window.history.back();">Back</button>
    </div>
  </div>
<% else %>
  <%= render 'users/navbar'%>
  <div class="bg-white shadow-md rounded my-6"></div>
    <table class="w-full">
      <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left font-bold"> Name</th>

          <th class="py-3 px-6 text-left"> Image</th>
          <th class="py-3 px-6 text-left"> Description</th>
          <th class="py-3 px-6 text-center" colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <% @archive_products.each do |product|%>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left whitespace-nowrap font-bold"><%= product.name%></td>
            <% if product.product_image.attached? %>
              <td class="py-3 px-6 text-left"><%= image_tag product.product_image, style: "length: 100px; width: 70px"%></td>
            <%end%>
            <td class="py-3 px-6 text-left"><%= product.description%></td>
            <td class="py-3 px-6 text-center"> <%= link_to "view", product, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"%></td>
            <td class="py-3 px-6 text-center"><%= link_to "edit", edit_product_path(product), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"%></td>
            <td class="py-3 px-6 text-center"><%= button_to "publish", publish_product_path(product), method: :post, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"%></td>
            <td class="py-3 px-6 text-center"><%= button_to "delete", product, data: { confirm: "Are you sure to delete product?", turbo_confirm: "Are you sure to delete product?" }, method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% end %>

<br>
<div class = "pb-20 flex flex-row items-center justify-center">
    <%= will_paginate @archive_products, class:"bg-gray-300 rounded py-3 px-5"%>
</div>




<!-- <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" style="margin-left: 10px; margin-bottom: 10px;" onclick="window.history.back();">Back</button> -->

