<div>
  <%if @products.empty?%>
  <h4 class = "no_product_found"><%= 'No product ia available!!!'%></h4>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Product Description</th>
        <%if current_user.admin?%>
          <th colspan="3">Actions</th>
        <%elsif current_user.seller?%>
          <th>Show Product</th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product|%>
      <tr>
        <td><%= product.name%></td>
        <td><%= image_tag product.product_image, style: "length: 100px; width: 70px"%></td>
        <td><%= product.description%></td>
        <td><%= link_to "view", product%></td>
        <%if current_user.admin? %>
          <td><%= link_to "edit", edit_product_path(product)%></td>
          <td><%= button_to "delete", product, method: :delete%></td>
        <%end%>
      </tr>
      <%end%>
    </tbody>
  </table>
  <% end %>
</div>
<br>

<%if current_user.admin?%>
  <div>
    <button>
      <%= link_to "Add Product", new_product_path%>
    </button>
  </div>
  <br>

  <div>
    <%= link_to "Back to Dashboard", admin_dashboard_path%>
  </div>
<%elsif current_user.seller?%>
  <div>
    <%= link_to "Back to Home", seller_home_path%>
  </div>
<%end%>
