


<%= render "users/navbar"%>

    





<div class="flex items-center justify-center h-screen">
  <div class="bg-white shadow-md rounded-md p-6">
    <div class="mb-6">
      <h2 class="text-2xl font-semibold">Admin Dashboard</h2>
    </div>
    <div class="mb-6">
      <%=link_to "Show Products", products_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2" %>
      <%= link_to "Add Product", new_product_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2" %>
      <%=link_to "Delete Product", products_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2" %>
      <%= link_to "View Ads", ads_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md mr-2" %>
    </div>
    <div>
      <%=link_to "Sign Out", destroy_user_session_path, class: "bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-md" %>
    </div>
  </div>
</div>



































































    <div class="bg-cover bg-no-repeat h-screen" style="background-image: url('https://images.unsplash.com/photo-1475275083424-b4ff81625b60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');">
   
    <div class="p-5 flex flex-col items-center justify-center mx-12 px-6 my-10 w-full h-4/5 max-w-sm bg-black border border-black-200 rounded-lg shadow sm:p-30 md:p-30 dark:bg-gray-800 border-transparent">
    <form class="space-y-60" action="#">    

    <div class="flex flex-col items-center justify-between space-y-10 ">
  

  <%= link_to "Show Products", products_path, class: "py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg" %>
  <%= link_to "Add Product", new_product_path, class: "py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg" %>
  <%= link_to "View Ads", ads_path,class: "py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-lg" %>

      </div>
    </div>

  
        
        <div class="flex items-start">
            <div class="flex items-start">
                <div class="flex items-center h-500">
                </div>
          </div>   
     </div> 
</div>






















 

















