<!DOCTYPE html>
<html>
  <head>
    <title>OnlineSellingScrape</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "typewriter" %>
  </head>
  <% if current_user %>
    <% current_user_id = current_user.id %>
  <% end %>
  <div id="user", data-user-id=<%= current_user_id %>></div>
  <body>
    <% if user_signed_in? %>
      <div class="fixed w-full top-0 z-10">
        <%= render "devise/shared/navbar" %>
      </div>
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 relative flex h-16 bg-gray-800"></div>
    <% end %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
</html>
